section.blog 
    div.container 
        +headerBlock("Our stories","LATEST BLOG")
        div.blog-block
            div.blog-block-item
                a(href="#" class="blog-block-linkimg")
                    img(src="../images/img-blog1.png")
                a(href="#" class="blog-block-title") LOREM IPSUM DOLOR SIT AMET
                p.blog-block-text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.blog-block-info 
                    a(href="#" class="blog-block-view") 
                        i.fa.fa-eye 
                        span.blog-block-number 534
                    a(href="#" class="blog-block-cmt")  
                        i.fa.fa-comment 
                        span.blog-block-number 15
                div.blog-block-time 
                    h2.blog-block-day 15
                    p.blog-block-month jund
            div.blog-block-item
                a(href="#" class="blog-block-linkimg")
                    img(src="../images/img-blog1.png")
                a(href="#" class="blog-block-title") LOREM IPSUM DOLOR SIT AMET
                p.blog-block-text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.blog-block-info 
                    a(href="#" class="blog-block-view") 
                        i.fa.fa-eye 
                        span.blog-block-number 534
                    a(href="#" class="blog-block-cmt")  
                        i.fa.fa-comment 
                        span.blog-block-number 15
                div.blog-block-time 
                    h2.blog-block-day 15
                    p.blog-block-month jund
            div.blog-block-item
                a(href="#" class="blog-block-linkimg")
                    img(src="../images/img-blog1.png")
                a(href="#" class="blog-block-title") LOREM IPSUM DOLOR SIT AMET
                p.blog-block-text Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.blog-block-info 
                    a(href="#" class="blog-block-view") 
                        i.fa.fa-eye 
                        span.blog-block-number 534
                    a(href="#" class="blog-block-cmt")  
                        i.fa.fa-comment 
                        span.blog-block-number 15
                div.blog-block-time 
                    h2.blog-block-day 15
                    p.blog-block-month jund