section.cmtpp
    div.container
        .fa.fa-arrow-left
        div.cmtpp-desc
            .cmtpp-desc-img
                img(src="../images/img-people.png") 
            div.cmtpp-desc-info 
                p.cmtpp-desc-text "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
                h3.cmtpp-desc-user jon doe
        .fa.fa-arrow-right