section.comment
    div.container
        .fa.fa-arrow-left
        div.comment-desc.show
            .comment-desc-icon
                i.fa.fa-comment 
            div.comment-desc-info 
                p.comment-desc-text "1Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
                h3.comment-desc-user jon doe
        div.comment-desc
            .comment-desc-icon
                i.fa.fa-comment 
            div.comment-desc-info 
                p.comment-desc-text "2Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
                h3.comment-desc-user jon doe
        div.comment-desc
            .comment-desc-icon
                i.fa.fa-comment 
            div.comment-desc-info 
                p.comment-desc-text "3Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation."
                h3.comment-desc-user jon doe
        .fa.fa-arrow-right