section.cout
    div.container 
        +coutInfo("42","web design projects")
        +coutInfo("123","HAPPY CLIENT")
        +coutInfo("15","AWARD WINNER")
        +coutInfo("99","CUP OF COFFEE")
        +coutInfo("24","MEMBERS")