footer.footer 
    div.container 
        div.footer-desc 
            a(href="#" class="footer-desc-logo") MoGo 
            p.footer-desc-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias facere amet possimus dolor eius beatae. Cupiditate, at cumque minima error tenetur recusandae perspiciatis deleniti vel animi quae, modi sequi quam!
            p.footer-desc-fl 
                span.footer-desc-number 15K
                span.footer-desc-fltext followers 
            div.footer-desc-socical Follow us: 
                a(href="#")
                    i.fab.fa-facebook-f 
                a(href="#")
                    i.fab.fa-twitter
                a(href="#")
                    i.fab.fa-instagram 
                a(href="#")
                    i.fab.fa-pinterest 
                a(href="#")
                    i.fab.fa-google 
                a(href="#")
                    i.fab.fa-youtube 
                a(href="#")
                    i.fab.fa-dribbble 
                a(href="#")
                    i.fab.fa-tumblr 
            form(action="", method="get" class="footer-form")
                input(type="email" placeholder="Your Email" class="footer-form-input")
                div.footer-form-btn subscribe 
        div.footer-blog 
            h4.footer-blog-title blog
            div.footer-blog-block
                div.footer-blog-item
                    img(src="../images/img-blogs1.png")
                    div.footer-blog-text 
                        a(href="#" class="footer-blog-link") LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING
                        p.footer-blog-time Jan 9,2016
                div.footer-blog-item
                    img(src="../images/img-blogs2.png")
                    div.footer-blog-text 
                        a(href="#" class="footer-blog-link") LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING
                        p.footer-blog-time Jan 9,2016
                div.footer-blog-item
                    img(src="../images/img-blogs3.png")
                    div.footer-blog-text 
                        a(href="#" class="footer-blog-link") LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING
                        p.footer-blog-time Jan 9,2016
        div.footer-img 
            .footer-img-title instagram 
            div.footer-img-block 
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
                img(src="../images/img-instagram1.png")
            a(href="#" class="footer-more") View more photos