section.peoplesay 
    div.container 
        +headerBlock("Service","WHAT WE DO")
        div.peoplesay-block 
            +peopleitem("../images/img-people1.png","MATTHEW DIX","Graphic Design","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo illo cupiditate temporibus sapiente, sint, voluptatibus tempora esse. Consectetur voluptate nihil quo nulla voluptatem dolorem harum nostrum") 
            +peopleitem("../images/img-people1.png","NICK KARVOUNIS","Graphic Design","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo illo cupiditate temporibus sapiente, sint, voluptatibus tempora esse. Consectetur voluptate nihil quo nulla voluptatem dolorem harum nostrum") 
            +peopleitem("../images/img-people1.png","JAELYNN CASTILLO","Graphic Design","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo illo cupiditate temporibus sapiente, sint, voluptatibus tempora esse. Consectetur voluptate nihil quo nulla voluptatem dolorem harum nostrum") 
            +peopleitem("../images/img-people1.png","MIKE PETRUCCI","Graphic Design","Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo illo cupiditate temporibus sapiente, sint, voluptatibus tempora esse. Consectetur voluptate nihil quo nulla voluptatem dolorem harum nostrum") 
        