section.services
    div.container 
        +headerBlock("We work with","AMAZING SERVICES")
        div.services-block 
            +serviceBlock("fa-camera","Photography","Photography is the science, art and practice of creating durable images by recording light or other electromagnetic radiation")
            +serviceBlock("fa-code","WEB DESIGN","Photography is the science, art and practice of creating durable images by recording light or other electromagnetic radiation")
            +serviceBlock("fa-laptop-code","CREATIVITY","Photography is the science, art and practice of creating durable images by recording light or other electromagnetic radiation")
            +serviceBlock("fa-keyboard","SEO","Photography is the science, art and practice of creating durable images by recording light or other electromagnetic radiation")
            +serviceBlock("fa-cube","CSS/HTML","Photography is the science, art and practice of creating durable images by recording light or other electromagnetic radiation")
            +serviceBlock("fa-folder","DIGITAL","Photography is the science, art and practice of creating durable images by recording light or other electromagnetic radiation")