section.story 
    .container
        +headerBlock("What we do","STORY ABOUT US","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
        div.blockimg
            .blockimg-item
                img(src="../images/img-about1.png")
                .blockimg-info
                    i.fa.fa-users
                    span.blockimg-info-title super team
            .blockimg-item
                img(src="../images/img-about2.png")
                .blockimg-info
                    i.fa.fa-users
                    span.blockimg-info-title super team
            .blockimg-item
                img(src="../images/img-about3.png")
                .blockimg-info
                    i.fa.fa-users
                    span.blockimg-info-title super team