section.team 
    div.container 
        +headerBlock("Who we are","MEET OUR TEAM","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
        div.team-block
            div.team-block-item 
                div.team-block-item-img 
                    img(src="../images/img-team.jpg")
                    div.team-block-item-img-icon 
                        i.fab.fa-facebook-f
                        i.fab.fa-twitter
                        i.fab.fa-pinterest
                        i.fab.fa-instagram
                h3.team-block-name matthew dix 
                p.team-block-service graphic design
            div.team-block-item 
                div.team-block-item-img 
                    img(src="../images/img-team1.png")
                    div.team-block-item-img-icon 
                        i.fab.fa-facebook-f
                        i.fab.fa-twitter
                        i.fab.fa-pinterest
                        i.fab.fa-instagram
                h3.team-block-name CHRISTOPHER CAMPBELL 
                p.team-block-service Branding/UX design
            div.team-block-item 
                div.team-block-item-img 
                    img(src="../images/img-team2.png")
                    div.team-block-item-img-icon 
                        i.fab.fa-facebook-f
                        i.fab.fa-twitter
                        i.fab.fa-pinterest
                        i.fab.fa-instagram
                h3.team-block-name MICHAEL FERTIG
                p.team-block-service Developer