section.whatwedo 
    div.container 
        +headerBlock("Service","WHAT WE DO","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
        dev.whatwedo-desc 
            img(class="whatwedo-desc-img" src="../images/wedo-image.png")
            div.whatwedo-desc-dropdown
                div.whatwedo-desc-dropdown-block 
                    div.whatwedo-desc-dropdown-btn
                        i.fa.fa-camera 
                        h3.whatwedo-desc-dropdown-title photoraphy
                        i.fa.fa-angle-down
                    div.whatwedo-desc-dropdown-text Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                div.whatwedo-desc-dropdown-block 
                    div.whatwedo-desc-dropdown-btn
                        i.fa.fa-camera 
                        h3.whatwedo-desc-dropdown-title photoraphy
                        i.fa.fa-angle-down
                div.whatwedo-desc-dropdown-block 
                    div.whatwedo-desc-dropdown-btn
                        i.fa.fa-camera 
                        h3.whatwedo-desc-dropdown-title photoraphy
                        i.fa.fa-angle-down