.team-block {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    &-item {
        width: calc((100% - (2 * 40px)) / 3);
        text-align: center;
        @include hoverEffect(".team-block-item-img",".team-block-item-img-icon");
        &-img {
            margin-bottom: 40px;
            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row !important;
                i.fab {
                    color: $primary-color;
                    background-color: $secondary-color;
                    font-size: 25px;
                    padding: 20px;
                    transition: 0.3s linear;
                    &:not(:last-child) {
                        margin-right: 2px;
                    }
                }
                i.fab:hover {
                    background-color: $primary-color;
                    color: white;
                }
            }
        }
    }
    &-name {
        font-size: 18px;
        text-transform: uppercase;
    }
    &-service {
        font-style: italic;
        text-transform: capitalize;
        color: $gray-color;
    }
}
@media screen and (max-width:414px) {
    .team-block {
        display: unset;
    }
    .team-block-item {
        width: 100%;
    }
    .team-block-item-img {
        margin-bottom: 20px;
    }
    .team-block-item {
        margin-top: 20px;
    }
}